*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.timer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: rgb(34, 238, 228);
  background-color: rgb(20, 104, 99);
  border-radius: 8px;
  font-weight: 700;
  margin: 0 auto;
  max-width: 50%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.timer__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 120px;
  min-height: 120px;
  text-align: center;
  border: 5px solid rgb(13, 66, 63);
  border-radius: 8px;
  box-shadow: inset 0 0 15px 10px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.js-timeface,
.js-hoursface,
.js-minsface,
.js-secsface {
  font-size: 45px;
}

button {
  display: flex;
  justify-content: center;
  margin: 15px auto 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: rgb(20, 104, 99);
  background-color: rgb(34, 238, 228);
  border-radius: 8px;
  font-weight: 700;
  border: 2px solid rgb(13, 66, 63);
  box-shadow: inset 0 0 15px 10px rgba(0, 0, 0, 0.5);
  outline: none;
  transition: all 0.3s ease-in;
}

button:hover {
  background-color: rgb(13, 77, 73);
  color: rgb(85, 216, 207);
}
