#gallery {
  display: flex;
}
#gallery li {
  list-style-type: none;
  padding: 5px;
}
#gallery img {
  width: auto;
  height: 200px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
